@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  font-family: "Inria Sans", sans-serif;
  background-color: #212326;
  color: white;
}

.container {
  background-color: #191B20;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 15px;
  padding-bottom: 15px;
}

header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #141517;
}

.searchbar {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 0px;
}

.searchbar input {
  height: 40px;
  border-radius: 12px 0px 0px 12px;
  text-align: center;
  border: none;
}

.searchbar .container {
  display: flex;
  justify-content: center;
}



.genreSection .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.genres {
  display: flex;
  gap: 30px;
}

.genreSection h2 {
  margin-bottom: 40px;
}

footer .container {
  background-color: #141517;
  height: 186px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



 .modal {
   display: none;
   position: absolute;
   top: 25%;
   left: 65%;
   transform: translate(-50%, -50%);
   background-color: black;
   padding: 40px;
   width: 410px;
   height: 608px;
   z-index: 1001;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
 }

 .close-modal {
  display: block;
   font-size: 3rem;
   cursor: pointer;
   margin-bottom: 20px;
   

 }

 .close-modal:hover {
  color: #CC0000;
 }

 .loghead {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   border: 1px white solid;
   cursor: pointer;

   border-radius: 8px;
   padding: 15px;

}

.loghead h2 {
  text-transform: uppercase;
  font-size: 1.5rem;
}

 .modal-content {
   display: flex;
   flex-direction: column;


 }

 form {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-top: 30px;


 }

 form input[type="text"],
 form input[type="password"] {
   width: 100%;
   height: 44px;
   border-radius: 8px;
   padding-left: 10px;
 }

 .checkbox {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   gap: 10px;


 }

 .checkbox input[type="checkbox"] {
  margin: 0;
  width: 18px;
  height: 18px;
 }

 .login-modal {
   text-transform: uppercase;
   width: 100%;
   height: 47px;
   background-color: #CC0000;
   border-radius: 8px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 50px;
   
 }

 .forgot {
  color: #CC0000;
  margin-bottom: 15px;
 }

 .signupa {
  color: #CC0000;
  padding-left: 5px;
 }

/*  //POP UP STYLING */

.popup-movie {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 742px;
  height: auto;
  max-height: 90vh;
  padding: 20px;
  background-color: black;
  color: white;
  overflow-y: auto;
  border-radius: 7px;
  z-index: 1001;
}

.close-pop {
  position: absolute;
  font-size: 3rem;
  right: 20px;
}

.popup-content {
  background-color: black;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.popup-content img {
  width: 234px;
  height: 351px;
  top: 74px;
  left: 79px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}

.movie-info-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
}

.swiper {
  width: 600px;
  height: 300px;
}


.swiper-container {
  width: 200px;
  height: 400px;
  position: relative;
}

.swiper-wrapper {
  display: flex;
  width: 100%;
  height: 100px;
}

.swiper-slide {
  position: relative;
  height: 400px;
  width: 200px;
  overflow: hidden;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.movie-overlay h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.movie-overlay p {
  font-size: 14px;
  margin: 5px 0;
}

.swiper-slide:hover .movie-overlay {
  opacity: 1;
}

.logo {
  font-size: 36px;
  font-weight: 700;
  line-height: 43.16px;
  text-align: left;
  text-transform: uppercase;
}

.logo span {
  color: #CC0000;
}

.navbar {
  font-size: 14px;
  font-weight: 700;
  line-height: 16.79px;
  letter-spacing: 0.03em;
  text-align: left;
  display: flex;
  gap: 20px;
  transition: 0.3s ease-in-out;
}

.navbar a:hover {
  transform: scale(1.1);
  color: rgb(249, 77, 8);
}

.searchbar a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #CC0000;
  height: 40px;
  width: 40px;
  border-radius: 0px 12px 12px 0px;
}

.genres a {
  padding: 5px;
}

.genres a:hover {
  background-color: #CC0000;
  border-radius: 8px;
}

hr {
  margin-top: 20px;
}

h2 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
}

footer .container a {
  padding-left: 15px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.79px;
  letter-spacing: 0.03em;
  text-align: left;
  transition: 0.3s ease-in-out;
}

footer .container a:hover {
  transform: scale(1.1);
  color: rgb(249, 77, 8);
}

footer .container p {
  font-size: 14px;
  font-weight: 300;
  line-height: 16.79px;
  text-align: left;
  color: #B8B8B8;
}

.swiper {
  width: 600px;
  height: 300px;
}



/* Style commun pour les titres */
.latest-releases h2,
.genreSection h2 {
  font-size: 30px; /* Taille de texte moyenne */
  font-weight: 600; /* Gras modéré */
  text-align: center; /* Centrer le texte */
  margin-bottom: 20px; /* Espacement en bas */
  color: #FF6347; /* Une couleur attrayante et uniforme */
  text-transform: uppercase; /* Mettre en majuscules pour l'importance */
  margin-top: 20px; /* Espacement en haut */
}