@import 'layout';
@import 'modal';
@import 'popMovie';

.logo {
   font-size: 36px;
   font-weight: 700;
   line-height: 43.16px;
   text-align: left;
   text-transform: uppercase;
   
   span {
    color: red;
   }
}

.navbar {
    font-size: 14px;
    font-weight: 700;
    line-height: 16.79px;
    letter-spacing: 0.03em;
    text-align: left;
    display: flex;
    gap: 20px;
    transition: 0.3s ease-in-out;
}

.navbar a:hover {
    transform: scale(1.1);
    color: rgb(249, 77, 8);
}

.searchbar a{
    display: inline-block;
    background-color: red;
    height: 40px;
    padding: 10px;
    border-radius: 0px 12px 12px 0px ;
}